In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [7]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [12]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [14]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}: 0.9027686670643886

In [15]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[79  6]
 [ 7 42]]

In [16]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.92      0.93      0.92        85
           1       0.88      0.86      0.87        49

    accuracy                           0.90       134
   macro avg       0.90      0.89      0.89       134
weighted avg       0.90      0.90      0.90       134

In [17]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.8932773109243698

In [18]:
table=pd.DataFrame.from_dict(re)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007825,3.609634e-03,0.005221,0.000752,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.804764,0.866968,0.795256,0.847020,0.905069,0.843815,0.040451,5
1,0.005618,1.498567e-03,0.006422,0.001498,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.804764,0.828959,0.740173,0.886792,0.791152,0.810368,0.047988,12
2,0.005620,1.207599e-03,0.004815,0.001166,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.787654,0.828959,0.815056,0.813179,0.903610,0.829692,0.039290,9
3,0.004615,1.203494e-03,0.005418,0.001967,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.834262,0.811321,0.796687,0.831098,0.869709,0.828615,0.024679,10
4,0.003810,4.052833e-04,0.004014,0.000637,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.867478,0.889022,0.796284,0.831098,0.923510,0.861479,0.044308,1
5,0.003607,4.867887e-04,0.003814,0.001171,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.829615,0.825959,0.740173,0.906166,0.923510,0.845085,0.065564,4
6,0.004822,1.476797e-03,0.005215,0.002790,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.826263,0.813511,0.814409,0.889033,0.862442,0.841132,0.029822,6
7,0.003809,1.472408e-03,0.003007,0.001093,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.834262,0.776214,0.832483,0.886792,0.847020,0.835354,0.035466,7
8,0.002006,8.449576e-07,0.002207,0.000402,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.808927,0.849057,0.833323,0.870362,0.943041,0.860942,0.045692,2
9,0.002005,1.016010e-06,0.002408,0.000492,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.867478,0.773585,0.777291,0.849057,0.811321,0.815746,0.037581,11
10,0.002005,1.425735e-06,0.002608,0.000493,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.804764,0.870047,0.793565,0.905069,0.886792,0.852048,0.044718,3
11,0.002005,3.576597e-06,0.002207,0.000400,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.826263,0.852030,0.777291,0.867097,0.829124,0.830361,0.030508,8

In [ ]:
userID_input=int(input("ID:"))
age_input=float(input("Age:"))
estimatedSalary_input=float(input("Salary:"))

ID:15624510
Age:19

In [ ]:
Future_Prediction=grid.predict([[userID_input,age_input,estimatedSalary_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))